################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorldApp/obj
/HelloWorldApp/.vs/HelloWorldApp/v15
/HelloWorldApp/HelloWorldApp/bin/Debug/netcoreapp2.0
/HelloWorldApp/HelloWorldApp/obj
/HW2_Waldo/obj
/HW2_Waldo/.vs/HW2_Waldo/v15
/HW2_Waldo/HW2_Waldo/bin/Debug/netcoreapp2.0
/HW2_Waldo/HW2_Waldo/obj
